extends layout

block content
  .container
    .app-section
      h1.heading App
      p.
        To install the Utavee widget on your site,
        copy this snippet and paste it near the bottom of your HTML
        code in the <body> tag, on every page you want the widget to appear.

