extends layout

block content
  .container
    .chat-section
      .row
        .col-sm-4
          .panel.panel-default.panel-left
            .panel-heading.
              Active Chats
            .panel-body.panel-body-left
              ul.list-chat
                li.list-chat-item(ng-repeat="customer in customers")
                  a(ng-click="openChat(customer)")
                    span.client-name
                      span.ion-ios7-circle-filled.active-icon
                      span(ng-bind="customer.name")
                    span.client-email(ng-bind="customer.email")
          .panel.panel-default.panel-left
            .panel-heading.
              Active Operators
            .panel-body.panel-body-left
              ul.list-chat
                li.list-chat-item(ng-repeat="operator in operators")
                  a(ng-click="openOperator(customer.id)")
                    span.operator-name
                      span.ion-ios7-circle-filled.active-icon
                      span(ng-bind="operator.name")
                    span.operator-email(ng-bind="operator.email")


        .col-sm-8
           .panel.panel-default.panel-right
              .panel-heading {{chatName || 'Select one of the active chat'}}
              .panel-body.panel-body-right
                  ul(id='utavee-messages', class="utavee-chat-messages")
                    li(ng-repeat="msg in messages", ng-class="{'operator': msg.from != operatorName, 'client': msg.from == operatorName }")
                      strong(class="msg-from") {{msg.from}}
                      span(class="msg-body", ng-bind-html="msg.body | linky")
                    textarea(ng-if="chatName" class="col-sm-6 col-xs-12 operator-text-area", rows="4", ng-model="msg",
                        ng-keydown="addMessage($event)", placeholder="Type Message here...")


