extends layout

block content
  .container
    .chat-section
      .row
        .col-sm-4
          .panel.panel-default.panel-left
            .panel-heading.
              Active Chats
            .panel-body
          .panel.panel-default.panel-left
            .panel-heading.
              Active Operators
            .panel-body
        .col-sm-8
           .panel.panel-default.panel-right
              .panel-heading.
                Chat
              .panel-body
