extends layout

block content
  .hero-unit
    p.lead.
      Delight customers with instant and friendly help, seamlessly across all your platforms
    h1 Think WhatsApp for Customer Engagement

  .container
    .features
      h2.subheading What makes us Different and Awesome?
      .row
        .col-sm-6
          i.ion-clock
          h4 Your user's time is invaluable
        .col-sm-6
          i.ion-ios7-timer
          h4 History matters a lot
        .col-sm-6
          .socail-icons
            i.ion-social-android
            i.ion-social-apple
          h4 Works with Websites, Android and iPhone
        .col-sm-6
          i.ion-happy
          h4 Up and Running in two minutes
