extends layout

block content
  .hero-unit
    p.lead.
      Delight customers with instant and friendly help, seamlessly across all your platforms
    h1 Think WhatsApp for Customer Engagement

  .container
    .features
      h2.subheading What makes us Different and Awesome?
      .row
        .col-sm-6
          h4 Your user's time is invaluable
          p No need to wait in queues. Ask questions and forget
        .col-sm-6
          h4 History matters a lot
          p We maintains history of each users and ofcourse user can view the history
        .col-sm-6
          h4 Works with Websites, Android and iPhone
          p Utavee ensures it is answered Support from anywhere
        .col-sm-6
          h4 Mobile Platforms -Push Notifications
          p Instant Sync Up and running in two minutes
