extends layout

block content
  .container
    .install-section
      h1.heading Install Utavee on your website and mobile apps
      p.
        To install the Utavee widget on your site,
        copy this snippet and paste it near the bottom of your HTML
        code in the &lt;body&gt; tag, on every page you want the widget to appear.
      pre.code.
          &lt;script type="text/javascript" src="http://localhost:3000/utavee.js"&gt;&lt;/script&gt;
          &lt;script type="text/javascript"&gt;
            utavee.setToken(#{apiKey});

            // Set identify of the user
            utavee.setIdentity({
              name:"",
              email:"",
              id:""
            });
          &lt;/script&gt;
      div
        a.btn.btn-success.done-btn(href="/") I'm Done
