<html>
<head>
    <script src='http://localhost:3000/js/lib/jquery-2.1.1.min.js'></script>
    <script src="http://localhost:3000/js/lib/angular.min.js"></script>
    <script src="http://localhost:3000/js/lib/angular-sanitize.min.js"></script>
    <script src="http://localhost:3000/js/lib/firebase.js"></script>
    <script src="http://localhost:3000/js/lib/angularfire.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/widget.css">

</head>

<body ng-app="chatApp" ng-controller="ChatController">

<div id="chat_closed" ng-show="!opened" ng-click="opened = true" style="position:absolute; bottom:0; right: 50; height:20; width:160; background-color: #4F8EF7; padding: 5 40 5 20;cursor:pointer;border-top-left-radius:5px;border-top-right-radius:5px;color:#fff;">Contact us</div>

<!-- CHAT MARKUP -->
<div ng-show="opened" class="utavee-chat l-demo-container" id="chat_open" style="position:absolute; bottom:0;">
  <header ng-click="opened = false">Chatting</header>

<!--     <div class="message-box">
        <div class="message-list">
        </div>

        <textarea class="message-text" row="5" ng-model="msg"
            ng-keydown="addMessage($event)" placeholder="Type Message here..."></textarea>
    </div> -->
    <div>
      <ul id='utavee-messages' class="utavee-chat-messages">
            <li ng-repeat="msg in messages" class="utavee-chat-message" ng-class="{'operator': msg.from != name, 'client': msg.from == name }"   >
                <strong class="msg-from">{{msg.from}}</strong>
                <span class="msg-body" ng-bind-html="msg.body | linky"></span>
            </li>
      </ul>

      <footer class="utavee-chat-footer">
        <textarea class="message-text" row="5" ng-model="msg"
            ng-keydown="addMessage($event)" placeholder="Type Message here..."></textarea>
      </footer>
  </div>
</div>

<!-- CHAT JAVACRIPT -->
<script>


    angular.module('chatApp', ['ngSanitize', 'firebase']).controller('ChatController',
        function($scope, $rootScope, $location, $firebase) {
        $scope.opened = false;

        function getQueryVariable(hrefLocation, variable) {
            var query = hrefLocation.substring(hrefLocation.indexOf('?') + 1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            return null;
        }

        var email = getQueryVariable(location.href, 'email');
        var id = getQueryVariable(location.href, 'id');
        var name = $scope.name = getQueryVariable(location.href, 'name');
        var user = $firebase(new Firebase('https://utavee.firebaseio.com/customers/' + id));
        user.$set('name', name);
        user.$set('email', email);
        $scope.messages = $firebase(new Firebase('https://utavee.firebaseio.com/customers/' + id + '/messages')).$asArray();

        $scope.addMessage = function(e) {
            if (e.keyCode != 13) {
                return;
            };
            $scope.messages.$add({ body: $scope.msg, from: name });
            $scope.msg = '';
        }
    });

</script>
</body>
</html>

